<!-- app/views/loans/new.html.erb -->
<h1>New Loan Request</h1>

<%= form_with(model: @loan, url: loans_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= form.label :interest_rate %>
      <%= form.number_field :interest_rate, step: '0.01', min: 0, value: @loan.interest_rate || 5.0 %> %
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Request Loan' %>
  </div>
<% end %>
